.my-btn
{
	border-radius: 50%;

}
.my-btn:focus
{
	outline: none;
}
.my-btn:focus, a:focus
{
	outline: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
	vertical-align: middle;
	border-collapse: collapse;
} 
tr[id^='request']
{
	cursor: pointer;
}

.margin-top
{
	margin-top: 10px;
}

.margin-top-20
{
	margin-top: 20px;
}
.margin-top-30
{
	margin-top: 30px;
}

@media(min-width: 768px)
{
	.new-good
	{
		position: fixed;
		bottom: 50px;
		left: 50px;
		display: inline;
	}
}

.table>tbody>tr>td.td-inside
{
	padding: 0px;
}

.table .table-inside
{
	margin-bottom: 0px;
	background-color: inherit;
}

.table-inside>tbody>tr>td
{
	border-top: none;
}

.my-table-striped > tbody:nth-child(odd)
{
	background-color: #f9f9f9;
}

.my-table-striped > tbody:nth-child(even)
{
	background-color: white;
}

.my-table-striped > tbody:hover
{
	background-color: #f5f5f5;
}

.my-office-table
{
	border: 1px solid #ddd;
}
.my-office-table>tbody+tbody
{
	border-top: 1px solid #ddd;
}